@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/*ссылки и списки - общие стили*/
.link {
  text-decoration: none;
  margin: 0px 0px 0px 0px;
}

.list {
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

h1, h2, h3, p {
  margin: 0px 0px 0px 0px;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #212121;
}

.logo span {
  color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    display: inline-block;
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px 10px 29px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
}

.button:hover, .button:focus {
  cursor: pointer;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover, .social-list-item:focus {
  background-color: #2196F3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover .social-icon,
.social-list-item:focus .social-icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-section {
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.form {
  display: flex;
  flex-direction: column;
}

.close-form-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-form-button-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-form-button:hover .close-form-button-icon,
.close-form-button:focus .close-form-button-icon {
  fill: #2196F3;
  cursor: pointer;
}

.form-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
  margin-bottom: 40px;
}

.form-field {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 28px;
}

.form-input {
  padding: 6px 16px 6px 42px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transform: translateY(-50%);
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label-icon {
  display: flex;
  width: 18px;
  height: 18px;
  margin-left: 18px;
  fill: #000000;
  position: absolute;
  top: 11px;
  left: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-label-icon {
  fill: #2196F3;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-37px);
  color: #2196F3;
}

.form-input:focus {
  border-color: #2196F3;
  cursor: pointer;
}

.comment-field {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
}

.form-comment {
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 1.17;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-label {
  position: absolute;
  top: 50%;
  left: 60px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transform: translateY(-50%);
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus + .comment-label,
.form-comment:not(:placeholder-shown) + .comment-label {
  transform: translateY(-40px);
  color: #2196F3;
}

.form-comment:focus {
  border-color: #2196F3;
}

.checkbox-form {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.icon-check {
  display: flex;
  width: 15px;
  height: 15px;
  fill: #ffffff;
  margin-right: 10px;
  border: #212121 solid 1px;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}

.checkbox:checked + .icon-check {
  fill: #ffffff;
  background-color: #2196F3;
  border-color: #2196F3;
}

.terms-link {
  padding-left: 5px;
  color: #2196F3;
}

.form .button {
  display: block;
}

@media screen and (max-width: 1199px) {
  .form-section {
    width: 450px;
  }
  .checkbox-label {
    font-size: 10px;
    line-height: 1.66;
  }
  .terms {
    font-size: 10px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1200px) {
  .form-section {
    width: 528px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
  }
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
  .terms {
    font-size: 14px;
    line-height: 1.71;
  }
}

.header-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
}

.menu-item-link {
  position: relative;
  display: inline-block;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link:hover, .menu-item-link:focus {
  color: #2196F3;
}

.menu-item-link::after {
  position: relative;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link:hover::after {
  background-color: #2196F3;
}

.header-contact-link {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover, .header-contact-link:focus {
  color: #2196F3;
}

.header-contact-link .email-icon, .header-contact-link .phone-icon {
  fill: currentColor;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover .email-icon,
.header-contact-link:hover .phone-icon {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .header {
    border: 1px solid #ECECEC;
  }
  .header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu-wrapper {
    display: none;
    width: 100%;
    max-width: 480px;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 3px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 104;
  }
  .menu-wrapper.is-open {
    display: block;
  }
  .menu-btn {
    position: relative;
    z-index: 100;
    background-color: transparent;
    border: none;
  }
  .menu-btn .icon-close {
    display: none;
  }
  .menu-btn.is-open .icon-close {
    display: block;
  }
  .menu-btn.is-open .icon-menu {
    display: none;
  }
  .icon-close, .icon-close {
    fill: #212121;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-menu:focus, .icon-menu:hover,
  .icon-close:focus, .icon-close:hover {
    fill: #2196F3;
    cursor: pointer;
  }
  .navigation {
    margin-bottom: 60px;
  }
  .menu-item {
    margin-bottom: 40px;
  }
  .menu-item:last-child {
    margin-bottom: 0px;
  }
  .menu-item-link {
    font-size: 18px;
    line-height: 1.17;
  }
  .menu-item-link::after {
    top: 8px;
  }
  .header-contact-item:first-child {
    margin-bottom: 16px;
  }
  .header-contact-link {
    line-height: 1.17;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .menu-wrapper {
    display: block;
    position: relative;
    justify-content: space-between;
  }
  .menu-btn {
    display: none;
  }
  .navigation {
    display: inline-flex;
  }
  .menu {
    display: flex;
  }
  .menu-item {
    margin-right: 50px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .menu-item:last-child {
    margin-right: 0px;
  }
  .menu-item-link {
    font-size: 14px;
    line-height: 1.14;
  }
  .menu-item-link::after {
    top: 32px;
  }
  .header-contacts {
    display: inline-flex;
    flex-direction: column;
    margin-top: 21px;
    margin-left: 84px;
  }
  .header-contact-item:first-child {
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .header-contact-link {
    font-size: 12px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    flex-direction: row;
    margin-left: 305px;
  }
  .header-contact-item:first-child {
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .header-contact-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero/hero_tablet.jpg);
    height: 400px;
  }
}

@media screen and (max-width: 1199x) and (min-resolution: 2ddpx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero/hero_tabletx2.jpg);
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero/hero_desktop.jpg);
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 2ddpx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero/hero_desktopx2.jpg);
    max-width: 1600px;
    height: 600px;
  }
}

.hero .button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  display: block;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero-title {
    padding-top: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    padding-top: 200px;
  }
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (max-width: 1199px) {
  .features-section {
    padding-top: 60px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.features {
  margin-right: auto;
  margin-left: auto;
}

.features-item {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.features-item::before {
  display: block;
  height: 120px;
  content: "";
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-item:nth-child(1)::before {
  background-image: url(../images/features/antenna.svg);
  background-size: 70px;
}

.features-item:nth-child(2)::before {
  background-image: url(../images/features/clock.svg);
  background-size: 70px;
}

.features-item:nth-child(3)::before {
  background-image: url(../images/features/diagram.svg);
  background-size: 70px;
}

.features-item:last-child::before {
  background-image: url(../images/features/astronaut.svg);
  background-size: 70px;
}

.features-item:last-child {
  margin-right: 0px;
  margin-bottom: 0px;
}

.features-item-title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
  color: #212121;
  margin-bottom: 10px;
}

.features-item-text {
  line-height: 1.71;
  color: #757575;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .features-item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
  .features-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
  }
  .features-item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .business {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .business .business {
    padding-top: 0px;
  }
  .business .business-item-title {
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .business .business-item-container {
    display: flex;
    align-items: stretch;
  }
  .business .business-item {
    width: 370px;
    margin-right: 30px;
    position: relative;
  }
  .business .business-item.last-child {
    margin-right: 0px;
  }
}

.team-section {
  background-color: #f5f4fa;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.team-member {
  display: block;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .team-member {
    width: 100%;
    margin-bottom: 30px;
  }
  .team-member.last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-member {
    width: 354px;
    margin-bottom: 30px;
  }
  .team-member:nth-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    width: 270px;
  }
}

@media screen and (min-width: 480px) {
  .team {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: nowrap;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.team-member-title,
.team-member-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member-title {
  font-weight: 500;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-member-text {
  margin-bottom: 16px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.clients-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client-logo {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover .client-logo,
.client:focus .client-logo {
  fill: #2196F3;
}

.client {
  display: flex;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover, .client:focus {
  border-color: #2196F3;
}

@media screen and (max-width: 767px) {
  .client {
    width: 210px;
  }
  .client:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .client {
    width: 226px;
  }
  .client:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    width: 170px;
  }
}

.footer {
  background: #2f303A;
  padding-left: 15px;
  padding-right: 15px;
}

.contacts-list {
  margin-bottom: 60px;
  text-align: center;
}

.footer-address {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.address-wrapper:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contact {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover, .footer-contact:focus {
  color: #2196F3;
}

.social-call, .subscription-call {
  padding-top: 12px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.social-footer-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.socialmedia:not(:last-child) {
  margin-right: 10px;
}

.social-list-item {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover, .social-list-item:focus {
  background-color: #2196F3;
}

.social-list-item:last-child {
  margin-right: 0px;
}

.social-list-item.social-icon {
  fill: #ffffff;
}

.button {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.button .sendicon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.subscription-call-form {
  width: 100%;
  height: 50px;
  background-color: #2f303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 18px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 20px;
}

.subscription-form-container {
  display: block;
  text-align: center;
}

.subscription-call {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .contacts-and-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contacts-and-social .footer-logo {
    padding-top: 0px;
  }
  .subscription-form-container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contacts {
    margin-right: 69px;
  }
  .contacts .footer-logo {
    padding-bottom: 0px;
  }
  .subscription-form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
  }
  .subscription-line {
    display: flex;
    align-items: center;
  }
  .subscription-line .subscription-call-form {
    width: 100%;
  }
  .subscription-line .button {
    margin-left: 26px;
    margin-top: 20px;
  }
}

.portfolio {
  border-top: 1px solid #ECECEC;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio .container {
  padding-left: 0px;
  padding-right: 0px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filter-container {
  margin-right: 8px;
}

.filter {
  color: #212121;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  background-color: #f5f4fa;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}

.filter:hover, .filter:focus {
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-item-title {
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  color: #757575;
  text-align: left;
}

.portfolio-piece {
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-piece:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-item-hover-text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  text-align: left;
  position: absolute;
  transform: none;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 60px;
  padding-bottom: 66px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-piece:hover .portfolio-item-hover-text,
.portfolio-piece:focus .portfolio-item-hover-text {
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.portfolio-piece {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .portfolio-items-list {
    text-align: center;
  }
  .portfolio-piece-container {
    width: calc(100%-30px);
  }
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
  .portfolio-items-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .portfolio-items-list .portfolio-piece-container {
    width: calc(100%-60px)/2;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-piece-container {
    width: calc((100%-90px)/3);
  }
}
/*# sourceMappingURL=main.css.map */