   .container{
     padding-left: 0px;
     padding-right: 0px;
   }

   .clients-container{
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap;}

    .client-logo{
      fill:$icon-color;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
      .client:hover &, 
      .client:focus &{
        fill: $accent-color;}}

     .client{
      display: flex;
      height:90px;
      border: 1px solid $icon-color;
      border-radius: 4px;
      margin-left:15px;
      margin-right: 15px;
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
      transition-property: border-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover, 
      &:focus{
          border-color: $accent-color;}
  

     @media screen and (max-width: $EndMobile){
      width: 210px;
       &:nth-last-child(-n+2){
      margin-bottom:0px;}}

     @media screen and (min-width: $tablet){
        width: 226px;

        &:nth-last-child(-n+3){
          margin-bottom:0px;}
      }

     @media screen and (min-width: $desktop){
        width: 170px;
      margin-bottom: 0px;}}
      
