.container{
  padding-left: 0px;
  padding-right: 0px;
}

.features{
  margin-right: auto;
  margin-left: auto;
}
.features-item{
    margin-bottom:30px;
    margin-left: 15px;
    margin-right: 15px;

    &::before{
        display: block;
        height: 120px;
        content:"";
        background-size: auto;
        background-position: center;
        background-repeat:no-repeat;
        background-color: $section-color;
        margin-bottom:30px;
        border-radius: 4px;}
  
    &:nth-child(1)::before{
    background-image: url(../images/features/antenna.svg);
  background-size: 70px;}
  
    &:nth-child(2)::before{
    background-image: url(../images/features/clock.svg);
    background-size: 70px;}
  
    &:nth-child(3)::before{
    background-image: url(../images/features/diagram.svg);
    background-size: 70px;}
  
    &:last-child::before{
    background-image: url(../images/features/astronaut.svg); 
    background-size: 70px;}
  
    &:last-child{
      margin-right: 0px;
      margin-bottom: 0px;}}
  
  .features-item-title{
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: left;
    color: $title-light-theme-color;
    margin-bottom:10px;
  }
  
  .features-item-text{
    line-height: 1.71;
    color: $text-main-color;
    text-align: left;
  }
  
@media screen and (max-width: $mobile){
  .features-item{
 max-width: 450px;}
}

@media screen and (min-width: $tablet){

  .features{
    display: flex;
    flex-wrap: wrap;}

  .features-item{
    width: 354px;}
}

@media screen and (min-width: $desktop){
  .features{
    flex-wrap: nowrap;
  }

  .features-item{
    width: 270px;
  }
}

