.footer{
    background: $footer-color;}

.contacts-list{
    margin-bottom:60px;
    text-align: center;
}
  
.footer-address{
    font-style: normal;
    line-height: 1.71;
    color: $title-dark-theme-color;}

.footer-contact{
    font-style: normal;
    line-height: 1.71;
    color: $footer-links-color;}

.social-call, .subscription-call{
    padding-top:12px;
    margin-bottom:20px;
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-dark-theme-color;}

.social-footer-list{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
  
.socialmedia{
    margin-right: 10px;

    .social-list-item{
    background-color: $footer-social-background;}

    .social-icon{
        fill: $background-color;
    }
}

    .button{
        padding: 8px 10px 12px 29px;
        margin-top: 30px;}

.subscription-call-form{
    width: 355px;
    height: 50px;
    background-color: $footer-color;
    border:1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-top:12px;
    padding-bottom: 18px;
    padding-left: 16px;
    font-size:16px;
    line-height: 1.25;
    margin-top:20px;}

.sendicon{
    width:24px;
    height:24px;
    fill: $hover-buttons-text;
    margin-left: 10px}

@media screen and (min-width: $tablet) and (max-width: $EndTablet){
 .contacts-social{
     display:flex;
     justify-content: space-evenly;
 }

 .social-footer{
     display: block;
     text-align:center;
 }
}    

@media screen and (min-width: $desktop){
    .footer-container{
        display:flex;
        align-items: center;}
    }

    .footer-contact{
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus{
        color: $accent-color;
}

.social-media{
    .social-list-item{
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        .social-icon{
    
        &:hover, 
        &:focus{
            background-color: $accent-color;}
      
        &:last-child{
            margin-right: 0px;}
}}}}

.subscription-form-container{
    display: flex;
    flex-direction: column;
}

.subscription-line{
    display: flex;
    align-items: center;}

.subscription-call{
    margin-bottom: 0px;
    }

    .button{
        margin-left: 26px;
    }
