.menu-button{
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;

    .icon-cross{
        display: none;
    }}
    .menu-button.is-open .icon-cross{
        display:block;
    }

    .menu-button.is-open .icon-menu{
        display:none;
    }

