
.hero{
    background-color: $background-color;
    background-image: linear-gradient(
      to bottom,
       rgba(47, 48, 58, 0.8),
       rgba(47, 48, 58, 0.8)), 
       url(../images/hero/hero_desktop.jpg);   
    background-repeat: no-repeat;
    background-position: center;
   padding: 118px 60px 118px 60px;

   .button {
     display: block;
     margin-right: auto;
     margin-left: auto;
   }
  }
  
  .hero-title{
    display: block;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $title-dark-theme-color;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet){

  }

  @media screen and (min-width: $desktop){
    
  }
