
.team-section{
    background-color: $section-color;
  }
  
  .team-member{
    display: block;
    background: $background-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    margin-bottom: 30px;
    width:100%;
    margin-bottom:30px;

    &.last-child{
        margin-right: 0px;}}
  
  
  .team-member-image{
    margin-bottom:30px;
  }
  .team-member-title, 
  .team-member-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  
  .team-member-title{
    font-weight: 500;
    text-align: center;
    color: $title-light-theme-color;
    margin-bottom: 10px;
  }
  
  .team-member-text{
    margin-bottom:16px;
  }
  
  .social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }