.menu-button{
    background-color: transparent;
    border: none;

    @media screen and (min-width: $tablet){
    display: none;}
}

.icon-cross, .icon-menu{
    color: $title-light-theme-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.icon-menu:focus, .icon-menu:hover{
        color: $accent-color;
        cursor: pointer;
    }