.social-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: transparent;}
  
  .social-icon{
    width: 20px;
    height: 20px;
    fill: $icon-color;}