$main-font:"Roboto", sans-serif;
$secondary-font: "Raleway",sans-serif;

$title-dark-theme-color:#ffffff;
$title-light-theme-color:#212121;
$text-main-color: #757575;
$accent-color:#2196F3;
$background-color:#ffffff;
$hover-buttons-text:#ffffff;
$footer-links-color:rgba(255,255,255,0.6);
$logo-color:#2196F3;
$section-color:#f5f4fa;
$icon-color:#AFB1B8;
$portfolio-color:rgba(33, 150, 243, 0.9);
$portfolio-border-color: #ECECEC;
$business-item-background: rgba(47, 48, 58, 0.8);
$footer-social-background: rgba(255, 255, 255, 0.1);
$footer-color:#2f303A;
$form-icon-color: #000000;